.container {
    width: auto;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 7rem;
    background: #27374D;
    color: #9DB2BF;
}